html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    box-sizing: inherit;
    background-color: $background-primary;
    color: $text;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: 1px solid $text;
    background-color: transparent;
    padding: 1rem 2rem;
    color: $text;
    font-family: inherit;
    cursor: pointer;
}
